.title {
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.nav-bar {
  border-bottom: 1px solid #54d3c2;
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}
