.user-item {
  padding-top: 2.4rem;
  padding-bottom: 0.44rem;
  /* width: calc(45% - 2rem); */
  /* min-width: 17.5rem; */
}

.user-item a {
  text-decoration: none;
  color: #8a8a8f;
  font-size: 11px;

  letter-spacing: 0.07px;
  background: white;
}

.user-item a:hover,
.user-item a:active {
  background: #54d3c2;
}

.user-item__image {
  /* width: 4rem;
  height: 4rem; */
  /* width: 30%; */
  /* margin-right: 2rem; */
}

.user-item__image img {
  width: 100%;
}

.user-item__info {
  /* width: 60%; */
  padding-left: 1.2rem;
  position: relative;
}

.user-item__info h2 {
  font-size: 1.4rem;
  letter-spacing: -0.24px;
  color: #252529;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3,
.user-item:hover p,
.user-item:active p {
  color: black;
}

.user-item__info h3 {
  font-size: 1rem;
  margin-right: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-item__info span:available {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #54d3c2;
  text-align: right;
  margin-right: 2rem;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}
.av {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #54d3c2;
  text-align: right;
  margin-right: 2rem;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}
.unav {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ff0f0f;
  text-align: right;
  margin-right: 2rem;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
}
.addressz {
  list-style: none;
  width: 100%;
  /* line-height: normal; */
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: -2rem;
  margin-left: -4rem;
}
