.place-form {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  /* border-radius: 6px; */
  background: white;
}
.one {
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  /* or 121% */

  letter-spacing: 0.36px;

  color: #252529;
}
.supply {
  width: 100%;
  max-width: 45rem;
  margin: 7rem auto;
  margin-top: -1rem;
  margin-bottom: -3rem;
  text-align: left;
}
.add {
  margin: auto;
  text-align: center;
  /* margin-left: 11rem; */
  /* padding-left: 2rem; */
}
