.button {
  font: Roboto Slab;
  padding: 0.5rem 1.5rem;
  border: 1px solid #54d3c2;
  border-radius: 23px;
  background: #54d3c2;
  color: white;
  cursor: pointer;
  /* margin-right: 1rem; */
  text-decoration: none;
  display: inline-block;
  weight: 100%;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #54d3c2;
  border-color: #54d3c2;
}

.button--inverse {
  background: transparent;
  color: #54d3c2;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #54d3c2;
}

.button--danger {
  background: #830000;
  border-color: #830000;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
