.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 100%;
  max-width: 40rem;
  margin: 7rem auto;
  margin-top: -1rem;
  margin-bottom: -3rem;
  text-align: left;
}

.authentication form {
  margin-bottom: 1rem;
}
.h2 {
  position: absolute;
  width: 272px;
  height: 43px;
  left: 38px;
  top: 97px;
}
.terms {
  height: 36px;
  left: 6.91%;
  right: 6.91%;
  top: calc(50% - 36px / 2 + 237px);
  /* margin-bottom: 4rem; */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  margin-right: 4rem;
  margin-left: 2rem;
  line-height: 18px;

  /* or 138% */

  text-align: center;
  letter-spacing: -0.08px;

  color: #8a8a8f;
}
.p {
  height: 36px;
  left: 6.91%;
  right: 6.91%;
  top: calc(50% - 36px / 2 + 237px);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  margin-top: 3rem;
  /* or 138% */

  text-align: center;
  letter-spacing: -0.08px;

  color: #8a8a8f;
}
.forgot {
  height: 36px;
  left: 6.91%;
  right: 6.91%;
  top: calc(50% - 36px / 2 + 237px);
  margin-right: 6rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* or 138% */

  text-align: right;
  letter-spacing: -0.08px;

  color: #8a8a8f;
}
.center {
  margin: auto;
  width: 50%;
}
.center2 {
  margin: auto;
  width: 45%;
}
.one {
  margin-bottom: 2.5rem;
  margin-left: 1.5rem;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  /* or 121% */

  letter-spacing: 0.36px;

  color: #252529;
}
.login {
  color: #54d3c2;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 34px;
}
.map-container {
  height: 15rem;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.1);
  margin-left: 1.8rem;
}
